* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.Renderer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 80px 0;
  width: 100%;
  max-width: 640px;
}

.renderer {
  margin-left: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
  font-size: calc(8px + 1vmin);
  color: #fbf1ab;
}

label span {
  margin-bottom: 8px;
}

textarea,
input {
  width: 100%;
  padding: 8px 12px;
  background-color: #fff8cc;
  color: #282c34;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: calc(5px + 2vmin);
  box-shadow: 3px 3px 21px rgba(0, 0, 0, 0.2), 3px -3px 21pxrgba (0, 0, 0, 0.34);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
